#trackX {
    font-size: 20px;
    list-style-type: none;
    
}

#trackY {
    font-size: 20px;
    list-style-type: none;
}

nav ul li {
    list-style-type: none;
}

li .flex{
    display: flex;
    margin-left: 30px;
}